* {
  --primary-color: #7A4242;
  --sub-color: #A4A4A4;
  --text-color: #707070;
  --page-bg-color: #EEEEEE;
  --link-color: #2162A4;
  --post-bg-color: white;
  --error-color: #f57d7d;
  --outline-color: #707070;

  --base-font-size: 16px;
}
